# IDE files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore home assistant
.hass

# Ignore artifacts
dist

# Ignore ascii docs
modules

# Ignore node modules
node_modules

# Ignore coverage
output

# Ignore files
README.md
LICENSE
